---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		    <meta name="description" content="Ken Chase is a Canadian web designer, photographer, and musician base in Ottawa, Ontario." />
		<title>Ken Chase - Web Design, Music, Photography</title>
	</head>
	<body>
	<a href="/">Home</a>
<a href="/about/">About</a>
		 <h1 class="main-header-title">About Ken Chase</h1>
	</body>
</html>
