---
import '../styles/global.css';
const pageTitle = "Ken Chase - Web Design, Music, Photography";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Ken Chase is a Canadian web designer, photographer, and musician base in Ottawa, Ontario." />
		<script src="https://kit.fontawesome.com/7be586feb3.js" crossorigin="anonymous"></script>
		<title>{pageTitle}</title>
	</head>
	<body>
<header class="main-header">
      <h1 class="main-header-title">Ken Chase</h1>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__list-item"><a href="index.html#section-web-design">Web design</a></li>
          <li class="main-nav__list-item"><a href="index.html#section-music">Music</a></li>
          <li class="main-nav__list-item"><a href="index.html#section-photography">Photography</a></li>
        </ul>
      </nav>
      <div class="main-header-scroll">
        <a href="#section-about"><i class="fas fa-chevron-down"></i></a>
      </div>
    </header>
    <section id="section-about" class="page-section">
      <h2>About</h2>
      <p>I'm a Canadian web designer, photographer, and musician, based in Ottawa, Ontario.</p>
      <p>This website is taking a short break while I work on a fresh new look for it. For commissions, or if you'd just like to drop me a line, feel free to <a href="mailto:kenchase@kenchase.com">contact me</a>.</p>
    </section>
    <section id="section-web-design" class="page-section">
      <h2>Web Design</h2>
      <p>Bespoke design and development.</p>
      <p>I'm a full stack web developer with an eye for design. I build custom WordPress websites and beautiful design systems using Figma.</p>
      <h3>Among others, I've worked with:</h3>
      <ul class="list--rows-two">
        <li>The National Gallery of Canada</li>
        <li>The Canadian Museum of History</li>
        <li>Health Canada</li>
        <li>Natural Resources Canada</li>
        <li>Boccia Canada</li>
        <li>Assembly of First Nations</li>
        <li>Scooteretti</li>
        <li>Algonquin College</li>
        <li>OntarioMD</li>
        <li>Industry Canada (Innovation, Science and Economic Development Canada)</li>
      </ul>
      <p>You can find out more about my professional web design experience on <a href="https://www.linkedin.com/in/ken-chase/">LinkedIn</a>.</p>
    </section>
    <section id="section-music" class="page-section">
      <h2>Music</h2>
      <p>Experimental music.</p>
      <p>I’m a sound designer, guitarist, singer/songwriter, and music producer. I record original material in a small home-based studio. It’s all very lo-fi and, until someone pays me, without commercial ambition.</p>
      <p>Sounds and words are always dancing around in my head, so I constantly have several music projects on the go. I've posted some of my experiments to my <a href="https://soundcloud.com/therealkenchase/">SoundCloud account</a>.</p>
    </section>
    <section id="section-photography" class="page-section">
      <h2>Photography</h2>
      <p>Abstract and street photography.</p>
      <p>I started teaching myself photography in late 2018 and consider it an aggressive hobby. I approach photography as a form of artistic expression which I often use in tandem with my music. It helps me tell stories.</p>
      <p>You'll find a lot of my work on <a href="https://www.instagram.com/therealkenchase/">Instagram</a>.</p>
    </section>
    <footer class="main-footer">
      <div class="footer-row footer-row--social">
        <nav class="footer-nav-social">
          <ul class="footer-nav-social__list">
            <li class="footer-nav-social__list-item">
              <a href="https://www.instagram.com/therealkenchase/"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="footer-nav-social__list-item">
              <a href="https://soundcloud.com/therealkenchase/"><i class="fab fa-soundcloud"></i></a>
            </li>
            <li class="footer-nav-social__list-item">
              <a href="https://www.linkedin.com/in/ken-chase/"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
	</body>
</html>
